%article.span9
  %header
    %h3= job.title
    %small= job.created_at
  = RedCloth.new(job.about_this_job.truncate(100, seperator: ' ', omission: ' ...')).to_html.html_safe
  = link_to "Read more", job_path(job), class: "btn"
