.hero-unit
  %h1
    Your career
    %small is waiting for you
  %p
    Career Geek aims to bring articles, information, views and interview posts from people and students within the graduate market.
    The graduate job market has suffered in-line with the general job scenario.

%h2 Why Career Geek JOBS?
%p
  Career Geek aims to bring articles, information, views and interview posts from people and students within the graduate market.
  The graduate job market has suffered in-line with the general job scenario.
%p
  With more than ever students going to University, getting a graduate job has become an even more difficult task and one that has become a numbers game
  now.
%p
  It is generally accepted that the application to position ratio is very high in every industry and the HR personnel have employed different tests before giving a student a chance to attend an interview.
%p
  This blog aims to provide an insight into the different stages in the graduate job process and guidance on how to successfully pass those stages and secure a job.

%ul.thumbnails
  %li.span3= image_tag "http://placehold.it/260x200"
  %li.span3= image_tag "http://placehold.it/260x200"
  %li.span3= image_tag "http://placehold.it/260x200"


%h2 The next step
%p
  Career Geek aims to bring articles, information, views and interview posts from people and students within the graduate market.
  The graduate job market has suffered in-line with the general job scenario.
%p
  With more than ever students going to University, getting a graduate job has become an even more difficult task and one that has become a numbers game
  now.
%p
  It is generally accepted that the application to position ratio is very high in every industry and the HR personnel have employed different tests before giving a student a chance to attend an interview.
%p
  This blog aims to provide an insight into the different stages in the graduate job process and guidance on how to successfully pass those stages and secure a job.

%h2 Some more marketing speech
%p
  Career Geek aims to bring articles, information, views and interview posts from people and students within the graduate market.
  The graduate job market has suffered in-line with the general job scenario.
%p
  With more than ever students going to University, getting a graduate job has become an even more difficult task and one that has become a numbers game
  now.
%p
  It is generally accepted that the application to position ratio is very high in every industry and the HR personnel have employed different tests before giving a student a chance to attend an interview.
%p
  This blog aims to provide an insight into the different stages in the graduate job process and guidance on how to successfully pass those stages and secure a job.
